html,
body,
#root{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Nav{
    position: absolute;
    left: 40vw;
    top: 50%;
}